body {
  padding-top: 60px;
}

.logo-nav {
    max-height: 90%;
}

.auth-panel {
    padding-top: 20px;
}

.btn-padded {
    margin-left: 5px;
    margin-right: 5px;
}

#sponsors{
    text-align: center;
}

.sponsor {
    margin-right: 10px;
    margin-left: 10px;
}

.corpus-select-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.corpus-select-input {
    text-align: center;
    width: 100%;
}