body {
  padding-top: 60px;
}

.logo-nav {
    max-height: 90%;
}

.auth-panel {
    padding-top: 20px;
}

.btn-padded {
    margin-left: 5px;
    margin-right: 5px;
}

#sponsors{
    text-align: center;
}

.sponsor {
    margin-right: 10px;
    margin-left: 10px;
}

.corpus-select-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.corpus-select-input {
    text-align: center;
    width: 100%;
}

#input_count {
    max-width: 100%;
}

/* Facets stuff */

.facetList {
    overflow: scroll;
    max-height: 200px;
    margin-bottom: 0;
}

.facetBody {
    padding: 0;
}

.facetPanel {
    margin-bottom: 10px;
}

.facetArticle {
    padding: 10px;
}

.extracted-title {
    font-weight: bold;
    font-size: 150%;
}

.cell-background {
    fill: #eee;
}

text.active {
    fill: red;
}

/* Angular animate for ReSA */
.tweet-enter.ng-enter {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    background-color: yellow;
}
.tweet-enter.ng-enter-active {
    background-color: white;
}

.tweet {
    padding: 8px 8px 20px 8px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}
.tweet-date {
    color: #7c6e7b;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
#tweets {
    min-height: 800px;
    max-height: 800px;
    overflow: scroll;
}
.r_entity {
    background-color: #ffd;
    z-index: -1;
    margin: -3px;
    padding: 1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset rgba(0,0,0,0.5);
    cursor: pointer;
}
.r_person {
    background-color: #d1ebbc;
}
.r_place {
    background-color: #b7d1e7;
}
.r_organisation {
    background-color: #da808d;
}
#main_content {
    min-height: 800px;
}
.twitter-hashtag{
    color:lightcoral;Ira
}