body {
  padding-top: 60px;
}

.logo-nav {
    max-height: 90%;
}

.auth-panel {
    padding-top: 20px;
}

.btn-padded {
    margin-left: 5px;
    margin-right: 5px;
}

#sponsors{
    text-align: center;
}

.sponsor {
    margin-right: 10px;
    margin-left: 10px;
}

.corpus-select-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.corpus-select-input {
    text-align: center;
    width: 100%;
}

#input_count {
    max-width: 100%;
}

/* Facets stuff */

.facetList {
    overflow: scroll;
    max-height: 200px;
    margin-bottom: 0;
}

.facetBody {
    padding: 0;
}

.facetPanel {
    margin-bottom: 10px;
}

.facetArticle {
    padding: 10px;
}

.extracted-title {
    font-weight: bold;
    font-size: 150%;
}

.cell-background {
    fill: #eee;
}

text.active {
    fill: red;
}

/* Angular animate */
.tweet-enter.ng-enter {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    background-color: yellow;
}
.tweet-enter.ng-enter-active {
    background-color: white;
}