<div class="navbar-form navbar-left">
  <div class="form-group">
    <input id="keyword" class="form-control" type="text" placeholder="Keyword to monitor" ng-model="keyword">
    <button ng-show="toggle_start" id="process_btn" class="btn btn-success" title="Start" ng-click="startAnalysis($event)">
    <i class="glyphicon glyphicon-play"></i>
    </button>
    <button ng-show="toggle_stop" id="stop_btn" class="btn btn-warning" title="Stop" ng-click="stopAnalysis($event)">
    <i class="glyphicon glyphicon-stop"></i>
    </button>
      <button id="reset_btn" class="btn btn-default" title="Reset" ng-click="resetView($event)">
          <i class="glyphicon glyphicon-repeat"></i>
      </button>
      &nbsp; <small> Incoming Tweets: <b>{{tweets_number}}</b> | Extracted Entities: <b>{{entities_number}}</b></small>
  </div>
</div>
<div class="container">
    <br/>
    <br/>
    <br/>
    <div class="content">
        <div class="row">
            <div id="main_content" class="col-xs-12 col-md-8">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: currentTab == 'bubblecloud'}">
                        <a ng-click="showTab('bubblecloud')">Bubble Cloud</a>
                    </li>
                    <li ng-class="{active: currentTab == 'other'}">
                        <a ng-click="showTab('other')">Other Views</a>
                    </li>
                </ul>
                <div id="content" class="tab-content">
                    <div id="bubblecloud" class="tab-pane" ng-class="{active: currentTab == 'bubblecloud'}"></div>
                    <div id="other" class="tab-pane" ng-class="{active: currentTab == 'other'}"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <h4>
                    Live Twitter Stream:
                    <span id="hashtag" class="twitter-hashtag"> #{{keyword}}</span>
                </h4>
                <div id="tweets" class="well">
                   <div class="tweet tweet-enter animated bounceIn" ng-repeat="tweet in tweets  | orderBy:id:reverse">
                       <div class="tweet-date">{{tweet.date}}</div>
                       <div ng-bind-html="tweet.text"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
